/* ============================reset========================================= */
*{
	margin: 0; padding: 0;
}
img{
	max-width: 100%;
}
/* ===========================title=============================== */
.title{
	text-align: center;
}
.title img{
	color: #000;
}
/* ===============================form================================== */

.mail{
	font-size: 13px;font-weight: 600;
}
.right a{
	font-size: 13px;
}
.btn-abc{ color: #fff;
  background-color: rgba(255, 204, 102, 0.8);
    border-color: #f0c14b;
}
.btn-abc{ color: #fff;
  background-color: rgba(255, 204, 102, 0.8);
    border-color: #f0c14b;
}
.down{
	margin-left: 10%;
}
.check{
	margin-top: 2%;
}
.checkbox input[type=checkbox]{
	margin-top: 3.4%;
}
.line2{
	width: 50%;margin-left: 24.5%;margin-top: 0%;
}
.footer a{
	font-size: 11px;line-height: 16px; margin-left: 10%;
}
.footer p{
	font-size: 11px;line-height: 16px;color: #555555;margin-left: 13%;
    margin-top: 3%;
}



form { margin: 0px 10px; }

h2 {
  margin-top: 2px;
  margin-bottom: 2px;
}


.container { max-width: 360px; }

.divider {
  text-align: center;
  margin-top: 42px;
  margin-bottom: 5px;
}

.divider hr {
  margin: 7px 0px;
  width: 35%;
}

.left { float: left; }

.right { float: right; }
.btn-block {
    display: block;
    width: 100%;
    margin-top: 16px;    color: #000;
}